/* ## FONTS ##  */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900');


/* ## COLORS ## */

:root {
    /* Primary */
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    /* Netural */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}


/* ## GENERAL SETTINGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ## DISPLAY ## */

body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 3rem);
}

/* ## CARD ##  */

main {
    min-width: 320px;
    max-width: 650px;
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ## IMAGE ## */

.image {
    margin: -1.5rem;
}

.desktop {
    display: none;
    max-width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/* ## TYPOGRAPHY ## */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perfume {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5, 0.25 + 1vw, 1.5);
    color: var(--Grey);
}

h1 {
    font-family: "Fraunces", serif;
}

.discription {
    font-family: "Montserrat", sans-serif;
    color: var(--Grey);
}

.prices {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-family: "Fraunces", serif;
}

.discount {
    font-weight: bold;
    color: var(--Green500);
    font-size: clamp(3rem, 0.5rem + 1vw, 5rem);
}

.real {
    color: var(--Grey);
    text-decoration: line-through;
}

/* ## BUTTON ## */


button {
    min-width: 100%;
    min-height: 3rem;
    background-color: var(--Green500);
    color: var(--White);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
}

.fa-shopping-cart {
    padding-right: 0.5rem;
}

button:hover {
    background-color: var(--Green700);
}

/* ## FOOTER ## */

footer {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

footer :is(a, a:visited) {
    color: var(--Green700);
    text-decoration: none;
}

footer :is(a:hover, a:active) {
    color: var(--Green500);
}

/* ## DESKTOP DISPLAY ## */

@media (min-width: 1024px) {
    /* ## DISPLAY ## */

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "mg ct";
        gap: 0;
        min-width: 1024px;
        max-width: 50%;
        padding: 0;
        font-size: clamp(2rem, 0.5rem + 1vw, 5rem);
        margin: 1rem;
    }

    .image {
        grid-area: "mg";
        margin: 0;
    }

    .content {
        grid-area: "ct";
        padding: 4rem;
        display: flex;
        justify-content: space-around;
    }

    /* ## IMAGE ## */

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    /* ## BUTTON ## */

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        min-width: 50%;
        min-height: 7rem;
        margin: 2rem;
        padding: 2.5rem;
        font-size: clamp(2rem, 0.5rem + 1vw, 5rem);
    }

    /* ## PRICE ## */

    .discount {
        font-size: clamp(3rem, 3rem + 1vw, 9rem);
    }
}